<%- include('../partials/headAdmin') %>

<%- include('../partials/headerAdmin') %>

<main>
    <section id="products">
        <div id="search_product">
            <form action="/admin/products/search" method="GET">
                <label for="productId">Buscar producto por ID:</label>
                <input type="number" id="productId" name="productId" required>
                <button type="submit">Buscar</button>
                <button type="button" onclick="window.location.href='/admin'">Ver todos los productos</button>
            </form>
        </div>
        <table border="1" id="table_products">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>

                <% products.forEach(producto => { %>
                
                    <tr>
                        <td><%= producto.id %></td>
                        <td style="text-align: start;"><%= producto.titulo %></td>
                        <td>$<%= producto.precio %></td>
                        <td><button onclick="editarProducto(<%= producto.id %>)">Editar</button></td>
                        <td><button onclick="borrarProducto(<%= producto.id %>)" id="red_button">Borrar</button></td>
                    </tr>
                
                <% }) %>
                
            </tbody>    
        </table>
    </section>
</main>

<script>
    function editarProducto(id) {
        alert('Editar producto con ID: ' + id);
        // Aquí puedes redirigir a la página de edición del producto
        window.location.href = '/admin/products/edit/' + id;
    }

    function borrarProducto(id) {
        if (confirm('¿Seguro que quieres borrar el producto con ID: ' + id + '?')) {
            // Aquí puedes hacer una solicitud para borrar el producto
            fetch('/admin/delete/' + id, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    alert('Producto con ID ' + id + ' borrado.');
                    window.location.reload();
                } else {
                    alert('Error al borrar el producto.');
                }
            });
        }
    }
</script>

<%- include('../partials/footer') %>