<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <script src="https://kit.fontawesome.com/91e0160591.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section id="form_loading_image">
            <form id="form_title">
                <input type="radio" id="h2_option1" name="option" value="option_1" style="display: none;">
                <label for="h2_option1">
                    <h2>Editar</h2>
                </label>
            </form>
            <!-- Formulario para editar productos -->
            <form action="/products/edit" id="form_edit" method="POST">
                <input type="hidden" name="id" value="<%= product.id %>">
                <div>
                    <label for="titulo">Nombre del producto</label>
                    <select name="titulo" id="titulo" required style="height: 2rem; padding: .5rem; border: solid 2px var(--black-color); border-radius: 5px;">
                        <option value="" disabled selected>Selecciona un producto</option>
                        <% products.forEach(function(prod) { %>
                            <option value="<%= prod.titulo %>" <%= prod.id === product.id ? 'selected' : '' %>><%= prod.titulo %></option>
                        <% }); %>
                    </select>
                </div>
                <div>
                    <label for="descripcion">Características</label>
                    <input type="text" id="descripcion" name="descripcion" value="<%= product.descripcion %>" required>
                </div>
                <div>
                    <label for="technical_sheet">Ficha técnica</label>
                    <textarea id="technical_sheet" name="technical_sheet" required><%= product.technical_sheet %></textarea>
                </div>
                <div>
                    <label for="categoria">Categoría</label>
                    <input type="text" id="categoria" name="categoria" value="<%= product.categoria %>" required>
                </div>
                <div>
                    <label for="color">Color</label>
                    <input type="text" id="color" name="color" value="<%= product.color %>" required>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" id="precio" name="precio" value="<%= product.precio %>" min="0" step="0.01" required>
                </div>
                <div>
                    <button type="submit" class="button-confirm">Confirmar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="/scripts/productAdd.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>